/* You can add global styles to this file, and also import other style files */

@keyframes spin {
    0% {
      transform: rotateX(0deg);
      opacity: 0.5;
    }
    50% {
      transform: rotateX(1800deg);
      opacity: 1;
    }
    100% {
      transform: rotateX(3600deg);
      opacity: 0.5;
    }
  }
  
  .spin-effect {
    animation: spin 2s ease-in-out forwards;
    display: inline-block;
    transform-origin: center;
    font-size: 2rem;
  }
  
